<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="icon" href="https://img.icons8.com/?size=100&id=kIDi0DHdQ1W0&format=png&color=000000"
          type="image/x-icon">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
            crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet">
    <link rel='stylesheet' href='/stylesheets/applications.css'/>
    <link rel='stylesheet' href='/stylesheets/footer-navbar.css'/>
    <title><%= title %></title>

</head>
<body>
<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">
            <div class="logo"><span class="hrw">HR</span>Works</div>
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto">
                <% if (!user.id) { %>
                    <li class="nav-item m-1 d-flex align-items-center">
                        <a class="nav-link nav-link-login" onclick="login()">Login</a>
                    </li>
                    <li class="nav-item m-1 d-flex align-items-center">
                        <a class="nav-link nav-link-signup" href="/register">Sign up</a>
                    </li>
                <% } else { %>
                    <li class="nav-item m-1 d-flex align-items-center">
                        <a class="nav-link nav-link-signup" href="/chat/<%= user.id %>">Chat</a>
                    </li>
                    <% if (user.role === 1) { %>
                        <li class="nav-item m-1 d-flex align-items-center">
                            <a class="nav-link nav-link-admin-panel" href="/admin_panel/<%= user.id %>">Admin Panel</a>
                        </li>
                        <li class="nav-item m-1 d-flex align-items-center">
                            <a class="nav-link nav-link-admin-panel" href="/contest">Create New Contest</a>
                        </li>
                        <li class="nav-item m-1 d-flex align-items-center">
                            <a class="nav-link nav-link-admin-panel" href="/contest/my-job-postings/<%= user.id %>">My
                                Job
                                Postings</a>
                        </li>
                    <% } %>
                    <li class="nav-item m-1 d-flex align-items-center">
                        <a class="nav-link nav-link-signup" onclick="logout()">Logout</a>
                    </li>
                    <% if (user.role === 2) { %>
                        <li class="nav-item m-1 d-flex align-items-center">
                            <a class="nav-link nav-link-signup" href="/applications">Applications</a>
                        </li>
                        <li class="nav-item m-1 d-flex align-items-center">
                            <a class="nav-link" href="/user_profile/<%= user.id %>">
                                <img src="<%= profile_picture ? profile_picture : '/images/default-profile.jfif' %>"
                                     alt="Profile" class="profile-img">
                            </a>
                        </li>
                    <% } %>
                <% } %>
            </ul>
        </div>
    </div>
</nav>

<div class="container table-responsive" style="min-height: 100vh;">

    <h1 class="text-center mb-4 mt-4">Your Applications</h1>
    <table class="table table-bordered table-hover">
        <thead class="thead-dark">
        <tr>
            <th scope="col">Application ID</th>
            <th scope="col">Job title</th>
            <th scope="col">Job position</th>
            <th scope="col">Location</th>
            <th scope="col">Date Submitted</th>
            <th scope="col">Application Status</th>
        </tr>
        </thead>
        <tbody>
        <% applications.forEach(application => { %>
            <tr id="row-<%= application.id %>">
                <td>
                    <%= application.id %>
                </td>
                <td>
                    <a href="/individual-job-posting/<%= application.job_id %>">
                        <%= application.job_title %>
                    </a>
                </td>
                <td><%= application.position_name %></td>
                <td>
                    <%= application.location_name %>
                </td>
                <td><%= application.formattedDateDeadline %></td>
                <td>
                    <span class="<%= application.status_name %>"
                          id="<%= application.id %>"><%= application.status_name %></span>
                </td>
            </tr>
        <% }) %>
        </tbody>
    </table>
</div>

<footer class="footer-custom">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <h5>About HRWorks</h5>
                <p>
                    Empowering HR professionals with tools for seamless recruitment and employee management, bridging
                    the gap between talent and opportunity.
                </p>
            </div>
            <div class="col-md-4 text-center">
                <h5>Follow Us</h5>
                <a href="#" class="social-icon"><img src="/images/facebook-icon.png" alt="Facebook"/></a>
                <a href="#" class="social-icon"><img src="/images/x-icon.png" alt="X"/></a>
                <a href="#" class="social-icon"><img src="/images/instagram-icon.png" alt="Instagram"/></a>
            </div>
            <div class="col-md-4 text-end">
                <h5>Contact Us</h5>
                <p>Email: <a href="mailto:support@HRWorks.com">support@HRWorks.com</a></p>
                <p>Phone: +123 456 7890</p>
            </div>
        </div>
        <div class="row">
            <div class="col-12 text-center">
                <p>&copy; 2024 HRWorks. All rights reserved.</p>
            </div>
        </div>
    </div>
</footer>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<script src="/socket.io/socket.io.js"></script>
<script>

    function login() {
        location.href = '/login';
    }

    function logout() {
        location.href = '/login/logout'
    }

    const userId = `<%= JSON.stringify(user.id) %>`;
    let socket = io.connect('ws://localhost:3000');
    socket.emit('register', userId);

    socket.on("New status", data => {
        const {applicationId, status} = data;
        console.log(applicationId, status);
        const row = document.getElementById(applicationId);
        let color;
        switch (status) {
            case "1":
                color = 'applied';
                break;
            case "2":
                color = 'reviewed';
                break;
            case "3":
                color = 'interview';
                break;
            case "4":
                color = 'rejected';
                break;
            case "5":
                color = 'shortlisted';
                break;
            case "6":
                color = 'approved';
                break;
        }
        console.log(applicationId)
        console.log(status);
        console.log(color);
        row.textContent = color;
        row.classList.toggle(color);
        row.setAttribute('class', `${color}`);
    })

</script>


</body>
</html>
